.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.time {
    margin-right: 10px; /* Adjust spacing between time slots */
    cursor: pointer;
}

.bg-yellow {
    background-color: yellow;
}
.bg-white {
    background-color: white;
}
